h3, h5, p {
  display: inline-block;
}

h4, h5, p{
  padding: 10px 10px 10px 10px;
}

h4, h5 {
  font-size: 20px;
}

h6 {
  font-size: 18px;
  margin: 0px;
  padding: 10px 10px 0px 10px;
  text-decoration: underline;
}

img {
  align-self: center;
  width: 287px; height: 288px;
}

header {
  text-align: center;
}

.statistics p {
  padding: 0px 10px 0px 10px;
  margin: 0px;
}

.specials p,h4{
  display: inline-block;
  padding: 0px 20px 0px 0px;
}

.specials {
  float: right;
  padding: 0px 250px 0px 0px;
}

.special_name {
  font-size: 20px;
}

.comedian_card, .statistics {
  margin: 7px 0px 7px 0px;
  border: 2px solid black;
  width: 100%;
}

.mins {
  font-size: 13px;
  position: relative;
  left: 10px;
}

.comedian_img {
  padding: 0px 0px 10px 10px;
}

#comedian-126-img {
  width: 440px;
}

#comedian-127-img {
  width: 198px;
}

#comedian-128-img {
  width: 442px;
}

#comedian-129-img {
  width: 402px;
}

#comedian-130-img {
  width: 402px;
}

#comedian-119-img {
  width: 376px;
}

#comedian-123-img {
  width: 423px;
}

#comedian-125-img {
  width: 467px;
}
