body {
  font-family: 'Acme', sans-serif;
  background-color: #011627;
  color: #20A4F3;
}

h3, h5, p {
  display: inline-block;
}

h4, p{
  padding: 5px 10px 5px 10px;
}

h4, h5 {
  font-size: 20px;
}

h5 {
  padding: 5px 0px 10px 10px;
  margin: 0px;
  color:#2EC4B6;
  font-size: 45px;
}

h6 {
  color:#2EC4B6;
  font-size: 25px;
  margin: 0px;
  padding: 10px 10px 0px 10px;
}

h1 {
  color:#2EC4B6;
  font-size: 60px;
}

h4 {
  color:#2EC4B6;
}

img {
  align-self: center;
  width: 287px; height: 288px;
}

header {
  text-align: center;
}

.statistics p {
  padding: 0px 10px 0px 10px;
  margin: 0px;
}

.specials p,h4{
  display: inline-block;
  padding: 0px 20px 0px 0px;
}

.specials {
  padding: 0px 0px 0px 10px;
}

.special_name {
  font-size: 20px;
}

.comedian_card {
  margin: 7px 0px 7px 0px;
  border: 2px solid #053350;
  border-radius: 10px;
  width: 100%;
}

.mins {
  font-size: 13px;
  position: relative;
  left: 10px;
}

.comedian_img {
  float: right;
  padding: 10px 10px 0px 0px;
  border-radius: 25px;
}

.statistics {
  margin: 7px 0px 7px 0px;
  width: 100%;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

#comedian-126-img {
  width: 440px;
}

#comedian-127-img {
  width: 516px;
}

#comedian-128-img {
  width: 442px;
}

#comedian-129-img {
  width: 402px;
}

#comedian-130-img {
  width: 402px;
}

#comedian-119-img {
  width: 376px;
}

#comedian-123-img {
  width: 423px;
}

#comedian-125-img {
  width: 467px;
}
