h3, h5, p {
  display: inline-block;
}

h4, h5, p{
  padding: 10px 10px 10px 10px;
}

h4, h5 {
  font-size: 20px;
}

img {
  align-self: center;
  width: 287px; height: 288px;
}

.specials p,h4{
  display: inline-block;
  padding: 0px 20px 0px 0px;
}

.specials {
  float: right;
  padding: 0px 400px 0px 0px;
}

.special_name {
  font-size: 20px;
}

.comedian_card {
  border: 2px solid black;
  width: 100%;
}

.mins {
  font-size: 13px;
  position: relative;
  left: 10px;
}

.comedian_img {
  padding: 0px 0px 10px 10px;
}
